<h1>🔥 Bubble Road</h1>

<!-- NAVBAR -->
<a href="/">Home</a> |

{% if user %}
    <a href="/create">Create Post</a> |
    <a href="/leaderboard">Leaderboard</a> |
    <a href="/profile/{{user}}">Profile</a> |
    <a href="/logout">Logout</a> |

    <b>👤 {{user}}</b>

{% else %}
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
{% endif %}

<hr>

<!-- FEED -->
{% for p in posts %}
<div style="border:1px solid #ddd; padding:10px; margin-bottom:10px">

    <h3><a href="/post/{{p[0]}}">{{p[1]}}</a></h3>

    <p>{{p[2]}}</p>
    <small>By {{p[3]}} | ❤️ Votes: {{p[4]}}</small>

    <br><br>

    <form action="/vote/{{p[0]}}" method="post">
        <button>⬆ Upvote</button>
    </form>

</div>
{% endfor %}
