<!DOCTYPE html>
<html>
<head>
    <title>{{ post[1] }}</title>
</head>
<body>

<a href="/">← Home</a>

<h1>{{ post[1] }}</h1>

<p>{{ post[2] }}</p>

<p>
    By
    <a href="/profile/{{ post[3] }}">
        {{ post[3] }}
    </a>
    |
    ❤️ {{ post[4] }}
</p>

<!-- VIEW WHO LIKED -->
<p>
    <a href="/post/{{ post[0] }}/likes">
        👀 View who liked this post
    </a>
</p>

<!-- IMAGE -->
{% if post[5] %}
    <img src="{{ post[5] }}" width="300">
    <br><br>
{% endif %}

<!-- VIDEO -->
{% if post[6] %}
    <video width="500" controls>
        <source src="{{ post[6] }}">
        Your browser does not support the video tag.
    </video>

    <br><br>
{% endif %}

<hr>

<h3>Comments</h3>

{% for c in comments %}

    <p>
        <b>
            <a href="/profile/{{ c[2] }}">
                {{ c[2] }}
            </a>
        </b>:
        {{ c[3] }}
    </p>

    {% if c[4] %}
        <img src="{{ c[4] }}" width="200">
    {% endif %}

    <hr>

{% endfor %}

<hr>

<!-- FORM COMMENT + UPLOAD ẢNH -->
<form method="post" enctype="multipart/form-data">

    <textarea
        name="content"
        placeholder="Write comment..."
        required
    ></textarea>

    <br><br>

    <input type="file" name="image" accept="image/*">

    <br><br>

    <button type="submit">
        Comment
    </button>

</form>

</body>
</html>
