<h1>Profile: {{ user }}</h1>

<a href="/">Home</a> |
<a href="/leaderboard">Leaderboard</a> |
<a href="/logout">Logout</a>

<hr>

{% if data[2] %}
    <img src="{{ data[2] }}"
         width="120"
         style="border:1px solid black;padding:3px;">
{% else %}
    <p>No avatar</p>
{% endif %}

<p>XP: {{ data[0] }}</p>
<p>Level: {{ data[1] }}</p>

<hr>

<form method="post"
      action="/upload_avatar"
      enctype="multipart/form-data">

    <input type="file" name="avatar" required>
    <button>Upload Avatar</button>

</form>
